/*Stanley Kelder
10313540.*/

/*.line {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus line {
  fill: none;
  stroke: gray;
  opacity: 0.5;
}

*/