/*Stanley Kelder
10313540*/


/*change cursor on hover circles*/
.node {
  cursor: pointer;
}

/*show border on hover circle*/
.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

/*make inner circles white*/
.node--leaf {
  fill: white;
}

/*text for in circles*/
.label {
  font: 15px "Helvetica Neue";
  text-anchor: middle;
}

/*ake sure pointer doesn't change on text hover and circles stay clickable*/
.label {
  pointer-events: none;
}

/*Bar chart color*/
.bar {
  fill: steelblue;
}

/*bar chart color on hover*/
.bar:hover {
  fill: #7fcdbb;
}

/*setting sor tooltip used in bar chart and in circles*/
.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

/*Make buttons less bright*/
.w3-dropdown-hover {
	opacity: 0.6;
}

/*line setting linechart*/
.line {
  fill: none;
  stroke-width: 1.5px;
}

/*overlay for hover linechart*/
.overlay {
  fill: none;
  pointer-events: all;
}

/*crosshair linechart*/
.focus line {
  fill: none;
  stroke: gray;
  opacity: 0.5;
}

